<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.7.xsd
          http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="com.xyj"/>
    <context:property-placeholder  location="test.properties"/>
    <bean class="com.xyj.log.AdviceTest" id="adviceTest"/>
    <aop:config>
        <aop:aspect ref="adviceTest">
            <aop:pointcut id="say" expression="execution(* com.xyj.log.HelloWrold.say(..))"/>
            <aop:before method="before"  pointcut-ref="say"/>
            <aop:after method="after" pointcut-ref="say"/>
            <aop:after-returning method="afterReturning" pointcut-ref="say"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="say"/>
        </aop:aspect>
    </aop:config>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate" c:mongoDbFactory-ref="mongoDbFactory"/>
    <beans profile="dev">
        <jdbc:embedded-database id="dataSource" type="H2">
            <jdbc:script location="classpath:schema.sql"/>
            <jdbc:script location="classpath:test-data.sql"/>
        </jdbc:embedded-database>
        <mongo:db-factory id="mongoDbFactory" host="192.168.1.138" port="27017" dbname="work"/>
    </beans>

    <beans profile="prod">
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
              p:driverClassName="com.mysql.jdbc.Driver"
              p:url="jdbc:mysql://192.168.1.211:3566/xueledb"
              p:username="rouser"
              p:password="xl_2015"
        />
        <mongo:db-factory id="mongoDbFactory" host="192.168.1.211" port="27018" dbname="work"/>
    </beans>
</beans>